@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  /* added this in */
  border-radius: 5px;
  padding: 8px 16px;
  /* ends here */
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* My answers below */
.header {
  display: flex;
  justify-content: space-between;
}

.left-links,.right-links {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer {
  display: flex;
}
/* ends here */