/* Add CSS Styling */

.odd-numbered {
    background-color: #ff2882;
    font-family: Verdana, "DejaVu Sans",sans-serif;
}

.cooler-number {
    font-size: 24px;
}

#first-id {
    color: #0000ff;
    font-size: 36px;
}

#second-id {
    background-color: rgb(89, 255, 139);
    font-weight: bold;
}

