.header  {
  font-family: monospace;
  background: papayawhip;

  /*start of declaring flex properties */
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  /*start of declaring flex properties */
  align-self: center;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;

  /*start of declaring flex properties */
  display: flex;

}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;

  /*start of declaring flex properties */
}